.planet {
  // @extend .card;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;

  background: $card-colour;
  color: #8d9498;
  box-shadow: $shadow-lg;

  width: 100%;

  .window {
    height: 300px;
  }

  .planet-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $planet-nav-colour;

    // padding: 6px;
    .tabs {
      display: flex; 
  
      .item {
        cursor: pointer;
        padding: 8px 12px;
        font-weight: 600;
        &.active {
          background: $colour-teal;
          color: $text-white;
        }      
      }
    }
    
    .resources {
      display: flex;
      .item {
        display: block;
        padding: 4px 12px;
      }
    }
  }

}
