.planet {
  // @extend .card;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;

  background: $card-colour;
  color: #8d9498;
  box-shadow: $shadow-lg;

  width: 100%;

  .window {
    height: 300px;
  }

  .planet-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $planet-nav-colour;

    // padding: 6px;
    .tabs {
      display: flex; 
  
      .item {
        cursor: pointer;
        padding: 8px 12px;
        font-weight: 600;
        &.active {
          background: $colour-teal;
          color: $text-white;
        }      
      }
    }
    
    .resources {
      display: flex;
      .item {
        display: block;
        padding: 4px 12px;
      }
    }
  }


  .action-display {
    padding: 12px;
  }

  .action-category {
    font-weight: 600;
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px;

    .item {
      display: flex;
      flex-direction: row;

      .image {
        width: 140px;
        background: $colour-teal;
        margin-right: 12px;
        border-radius: 20px;
      }
      .content {
        width: 100%;
      }

      .title {
        width: 100%;
        color: $text-white;
        margin-bottom: 4px;
      }

      cursor: pointer;
      background: $colour-black;

      width: 22.4%;
      padding: 12px;
      margin: 8px;

      box-shadow: $shadow;
      border: 1px solid $colour-black;

      &.disabled {
        display: flex;
        background: none;
        align-items: center;
        text-align: center;

        color: $colour-light-grey;        
      }

      .button-group {
        display: none;
      }

      &.active {
        .production { display: none; }
        .button-group { display: flex; }

        border: 1px solid $colour-light-teal;
      }



      &:hover {
        background: darken($color: $colour-black, $amount: 2);
      }
    }
  }

}
