.action-display {
  padding: 12px;
}

.action-category {
  font-weight: 600;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;
  box-sizing: border-box;

  .item {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    .image {
      width: 140px;
      background: $colour-teal;
      margin-right: 12px;
      border-radius: 20px;
    }
    .content {
      width: 100%;
    }

    .title {
      width: 100%;
      color: $text-white;
      margin-bottom: 4px;
    }

    cursor: pointer;
    background: $colour-black;

    width: calc(25% - 16px);
    padding: 12px;
    margin: 8px;

    box-shadow: $shadow;
    border: 1px solid $colour-black;

    &.disabled {
      display: flex;
      background: none;
      align-items: center;
      text-align: center;

      color: $colour-light-grey;        
    }

    .button-group {
      display: none;
    }

    &.active {
      .production { display: none; }
      .button-group { display: flex; }

      border: 1px solid $colour-light-teal;
    }



    &:hover {
      background: darken($color: $colour-black, $amount: 2);
    }
  }
}